html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, html {
	background:	 #fff;
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: system-ui, sans-serif;
	font-size: 14px;
	line-height: 1.25;
}

#outerContainer {
	background: black;
	box-sizing: border-box;
	width: 100%;
	min-height: 100%;
	padding: 0 0 1px 0;
}

#container {
	width: 80%;
	max-width: 40rem;
	margin: 0 auto 30px auto;
	background: white;
	padding: 20px 30px;
	box-shadow: 0 0 15px 0 rgba(0,0,0, 0.8);
	position: relative;
	border-radius: 0 0 24px 24px;
}

h1 {
	margin: 0 0 .5em 0;
	padding: 0;
	font-size: 18px;
}

canvas {
	position: absolute;
	display: block;
}

pre {
	width: 100%;
	overflow: auto;
	background: #e0e0e0;
	padding: 1rem;
}